@import "tailwindcss";
@import "tw-animate-css";
@import "../node_modules/@ocw/tailwind-config/theme.css";

@source "../../../packages/ui/src/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));

@theme {
  --font-sans:
    "Inter", "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}
